- @title = "About"

.page-box.last-slide.background-p50-grey
  .container
    .row.col-buffer
      .offset-sm-2.col-sm-10
        %h1.main-title Boston Sleep Reading Center
    .row
      .col-sm-2.hidden-xs-down
        = render "menu/left_menu"
      .col-sm-10
        .backdrop-white
          %p.lead
            The primary mission of the BSRC is to partner with research teams to
            ensure that the highest quality sleep data are collected, analyzed
            and reported in order to advance the understanding of sleep and
            health.
        .backdrop-regular
          %p
            = link_to services_path do
              Our services
              %i.fa.fa-caret-right
