- @title = "Facility"

.page-box.last-slide.background-p50-grey
  = render "layouts/small_heading"

  .container
    .row
      .col-sm-2.hidden-xs-down
        = render "menu/left_menu"
      .col-sm-10
        .backdrop-white
          %p.lead
            All research activities, including technical work and project
            management, take place in the centrally located BSRC research
            facility that is designed to enhance the cohesion and communication
            among project team members as well as smooth and efficient
            operations.

        .backdrop-regular
          %p
            The BSRC is located within the Division of Sleep and Circadian
            Disorders at the Brigham and Women's Hospital, a primary teaching
            hospital of the adjacent Harvard Medical School.

        .backdrop-regular
          %p
            %strong Big Data Capabilities
          %p
            The Dedicated workstations for sleep analysis are located within the
            central BSRC research facility and are fully equipped to facilitate
            storage, file access and transmission of de-identified studies for
            advanced analyses as well as real-time technical queries. Analysis
            and measurements are performed by trained personnel, using
            specialized image analysis tools that allow for selected screen
            capture and automated saving of measured values to a centralized
            database via electronic form generation. This secure, server-based
            database includes internal audit trail features for detailed
            tracking of any additions or changes to the data. The database is
            accessible only to authorized personnel through password protection.
            All saved entries are signed and date- and time-stamped. In
            addition, both saved measures and raw image data are backed up
            locally. As well, printed forms are placed in a designated secure
            area and maintained for hard copy back up of data tracking.

        .backdrop-regular
          %p
            %strong Data Security
          %p
            All computer workstations are maintained and supported by Brigham
            and Women's Hospital / Partners Corporation Information Systems. All
            workstations have institutional level virus protection software, are
            automatically locked when not in use, and require a staff-specific
            user name and password for logon. The BSRC maintains strict policies
            regarding safeguarding passwords and they require them to be changed
            on a regular basis. All study-related work is saved within the
            study-designated folder on a secured, shared network drive. This
            network is accessible only by BSRC staff members who are granted
            permission by the BSRC Administrative Director. Institution-wide
            back-up of all server data is performed nightly, and BSRC
            project-specific data are additionally stored on secured servers
            with remote redundant back-up protection. The Partners Corporation
            operates under a full compendium of policies related to Emergency
            Management and Disaster Recovery policies that address data recovery
            and upstart after any unexpected and unforeseen catastrophe.

        .backdrop-regular
          %p
            %strong Fully Supported by Partners Infrastructure
          %p
            All computer workstations are maintained and supported by Brigham
            and Women's Hospital / Partners Corporation Information Systems. All
            workstations have institutional level virus protection software, are
            automatically locked when not in use.

        .backdrop-regular
          %p
            = link_to research_path do
              Our research
              %i.fa.fa-caret-right
