.page-box.last-slide.background-p50-grey
  .container
    .row.col-buffer
      .offset-sm-2.col-sm-10
        %h1.main-title Boston Sleep Reading Center
    .row
      .col-sm-2.hidden-xs-down
        = render "menu/left_menu"
      .col-sm-10
        .backdrop-white
          %p.lead
            The Boston Sleep Reading Center provides a full suite of services
            needed for obtaining high quality sleep data for large scale
            clinical trials and cohort studies.
        .backdrop-regular
          %p
            = link_to about_path do
              Learn more
              %i.fa.fa-caret-right
