.background-fixed-image
  .color-overlay.center-vertically{ style: "height: 100%;" }
    .container
      .row.col-buffer
        .offset-sm-2.col-sm-10
          %div{ style: "padding: 2rem;" }
            %h1.main-title.main-page-font
              Brigham Health
              %br
              Sleep Reading Center

.page-box.page-box-custom.last-slide.background-p50-grey
  .container
    .row
      .col-sm-2.hidden-xs-down
        = render "menu/left_menu"
      .col-sm-10
        .backdrop-white
          %p.lead
            The Brigham Health Sleep Reading Center provides a full suite of services
            needed for obtaining high quality sleep data for large scale
            clinical trials and cohort studies.
        .backdrop-regular
          Established by Susan Redline, MD, MPH in 1994, the Sleep Reading Center has analyzed more than 50,000 studies and is the premiere provider of a full suite of services that can be tailored to meet the needs of each study.
        .backdrop-regular
          %p
            = link_to about_path do
              Learn more
              %i.fa.fa-caret-right


