- @body_class = 'b-body'
- @title = 'Publications'

= render 'layouts/menu'

.jumbotron.text-center
  %h1 Publications

.container.col-buffer
  - PUBLICATIONS.each do |publication|
    .publication= apply_markdown publication

= render 'layouts/footer'
