- @body_class = 'b-body'
- @title = 'Services'

= render 'layouts/menu'

.jumbotron.text-center
  %h1= @title

.container.col-buffer
  .row
    .col-md-3
      .service Data Management
      .service Equipment Certification Services
    .col-md-3
      .service Polysomnography Scoring
      .service Actigraphy Analysis
      .service Staff Training and Certification
    .col-md-3
      .service Oximetry Analysis
      .service Quantitative EEG Analysis
      .service Statistical Analysis Support
    .col-md-3
      .service Quality Control Monitoring
      .service Protocol Development and Standardization

= render 'layouts/footer'
