- @title = "Services"

.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .container
    .row.col-buffer
      .offset-sm-2.col-sm-10
        %h1.main-title Boston Sleep Reading Center
    .row
      .col-sm-2.hidden-xs-down
        = render "menu/left_menu"
      .col-sm-10
        .backdrop-white
          %p.lead
            The BSRC tailors our full service offerings to best meet the
            specific needs of each study. We are the first and largest standing
            research sleep reading center, and have vast experience with
            overseeing studies.

        .backdrop-regular
          %p
            The BSRC offers a complete suite of services, including protocol
            development, production of procedures and training manuals, on-site
            and off-site training, and staff and equipment certification. The
            BSRC has rigorous quality control and quality improvement processes
            across each study's timeline. In addition, the BSRC has highly
            reliable scoring by research polysomnologists using AASM standards,
            advanced signal processing with EEG, ECG, and respiratory signals.
            The BSRC has sophisticated data management and timely reporting for
            each project.

          %p
            The BSRC works closely with Sponsors to define the most appropriate
            Scope of Work for each project. Specific processing and analytic
            services include:

          %ul
            %li Protocol Development and Standardization
            %li Staff Training and Certification
            %li Equipment Certification Services
            %li Polysomnography Scoring
            %li Actigraphy Analysis
            %li Oximetry Analysis
            %li Quantitative EEG, ECG and respiratory analysis
            %li Quality Control Monitoring
            %li Data Management
            %li Statistical Analysis Support
            %li Web-based data sharing and visualization
            %li Archival and repository creation

        .backdrop-regular
          %p
            %strong Polysomnography
          %ul
            %li On-site and off-site training
            %li Customized data collection protocol development
            %li AASM standards and reliable scoring of full and limited-channel polysomnograms
            %li Advanced signal processing to produce state-of-the-art quantitative metrics
            %li Customized reporting and dataset generation
            %li Urgent alert identification
            %li Assistance with equipment selection, standardization and certification

        .backdrop-regular
          %p
            %strong Actigraphy
          %ul
            %li Customized data collection protocol development
            %li Reliable assessment of activity patterns to estimate sleep/wake parameters
            %li Generation of parametric and non-parametric to measure diurnal rhythms
            %li Reporting and dataset generation
            %li Assistance with equipment selection, standardization and certification

        .backdrop-regular
          %p
            %strong Oximetry
          %ul
            %li Analysis of oximetry data collected via polysomnograms or standalone devices
            %li Urgent alert identification
            %li Data management and reporting

        .backdrop-regular
          %p
            = link_to facility_path do
              Our facility
              %i.fa.fa-caret-right
