- @title = "Version"

.page-box.last-box.page-box-no-padding.background-p50-grey
  = render "layouts/small_heading"

  .page-box-padding
    .container
      .row
        .col-sm-2.d-none.d-sm-block
          = render "menu/left_menu"
        .col-sm-10
          .backdrop-white
            %p.lead
              Version
              = BostonSleep::VERSION::STRING
