- @title = "Version"
.page-box.last-slide.background-p50-grey
  = render "layouts/small_heading"
  .container
    .row
      .col-sm-2.hidden-xs-down
        = render "menu/left_menu"
      .col-sm-10
        .backdrop-white
          %p.lead
            Version
            = BostonSleepOrg::VERSION::STRING
