$b-body-color: #818181;
$b-heading-color: #303030;
$b-bg-color: #f6f6f6;
$b-panel-hover-color: rgba(0, 0, 0, .2);
$b-panel-footer-color: #aaa;

.b-body {
  color: $b-body-color;
  line-height: 1.8;
  padding-top: $header-height; //  + 1px; // Includes 1px border bottom of menu
}

h2 {
  color: $b-heading-color;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}

h4 {
  color: $b-heading-color;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.375em;
  margin-bottom: 30px;
}

.jumbotron {
  background-color: $thecolor;
  color: $brand-white;
  font-family: Montserrat, sans-serif;
  padding: 100px 25px;
}

.container-fluid {
  padding: 60px 50px;
}

.bg-grey {
  background-color: $b-bg-color;
}

.logo-small {
  color: $thecolor;
  font-size: 50px;
}

.logo {
  color: $thecolor;
  font-size: 200px;
}

.logo-color {
  color: $thecolor;
}

.thumbnail {
  border: 0;
  border-radius: 0;
  height: 240px;
  padding: 10px 0 15px;

  img {
    height: 140px;
    margin-bottom: 10px;
  }
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
  color: $thecolor;
}

.carousel-indicators li {
  border-color: $thecolor;

  &.active {
    background-color: $thecolor;
  }
}

.item h4 {
  font-size: 19px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.375em;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

.panel {
  border: 1px solid $thecolor;
  border-radius: 0 !important;
  transition: box-shadow .5s;

  &:hover {
    box-shadow: 5px 0 40px $b-panel-hover-color;
  }
}

.panel-heading {
  background-color: $thecolor !important;
  border-bottom: 1px solid transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: $brand-white !important;
  padding: 25px;
}

.panel-footer {
  background-color: $brand-white !important;

  .btn {
    background-color: $thecolor;
    color: $brand-white;
    margin: 15px 0;

    &:hover {
      background-color: $brand-white !important;
      border: 1px solid $thecolor;
      color: $thecolor;
    }
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    color: $b-panel-footer-color;
    font-size: 14px;
  }
}

.navbar {
  background-color: $thecolor;
  border: 0;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  font-size: 12px !important;
  letter-spacing: 4px;
  line-height: 1.42857143 !important;
  margin-bottom: 0;
  z-index: 9999;
}

.navbar li a,
.navbar .navbar-brand {
  color: $brand-white !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  background-color: $brand-white !important;
  color: $thecolor !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: $brand-white !important;
}

footer .glyphicon {
  color: $thecolor;
  font-size: 20px;
  margin-bottom: 20px;
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-duration: 1s;
  animation-name: slide;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }

}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    margin: 0 0 25px;
    text-align: center;
  }

  .btn-lg {
    margin-bottom: 35px;
    width: 100%;
  }

}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}
