$service-hover-color: rgba(0, 0, 0, .2);

.service {
  background-color: $color-secondary-1-1;
  border-left: 2px solid $color-secondary-1-2;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px 10px;
  transition: all .25s;
}

.service:hover {
  box-shadow: 5px 0 40px $service-hover-color;
  transform: scale(1.1);
}
