.background-p50-grey {
  background-color: $p50-grey;
}

.background-fixed-image,
.background-fixed-image-small {
  background-image: url("221_old.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-fixed-image {
  height: 500px;
}

.background-fixed-image-small {
  height: 100px;
}

.color-overlay {
  // background-color: rgba(239, 61, 74, .6);
  background-color: rgba(255, 255, 255, .7);
}

.backdrop-regular,
.backdrop-white {
  @include remove-last-child-bottom-margin;
  @include scale-images;

  padding: 2rem;
  margin-bottom: 1.5rem;
}

.backdrop-regular {
  background-color: $p50-grey;
  border: 1px solid $p100-grey;
}

.backdrop-white {
  background-color: $brand-white;
  border: 1px solid $p100-grey;
}

