html {
  min-height: 100%;
  position: relative;
}

body {
  &.full-page {
    margin-bottom: $footer-height;
  }

  &.full-page-no-header {
    margin-bottom: $footer-height;
  }

  &.full-page-no-header-no-footer {
    margin-bottom: 0;
  }
}

.body-content {
  padding-bottom: 20px;
  padding-top: 20px;
}

::selection {
  background-color: rgba($p200-blue, .99);
  color: $body-color;
  text-shadow: none;
}

:focus {
  outline-color: $p200-blue !important;
}
