html {
  min-height: 100%;
  position: relative;
}

body {
  &.full-page {
    margin-bottom: $footer-height;
    padding-top: $header-height;
  }

  &.full-page-no-header {
    margin-bottom: $footer-height;
    padding-top: 0;
  }
}

.body-content {
  padding-bottom: 20px;
  padding-top: 20px;
}

$p200-blue-rgba: rgba(144, 202, 249, .99);

::selection {
  background-color: $p200-blue-rgba;
  color: $p800-grey;
  text-shadow: none;
}

:focus {
  outline-color: $p200-blue !important;
}
