.padding {
  margin-bottom: 40px;
}

@media screen and (min-width: $screen-sm-min) {
  .padding {
    margin-bottom: 60px;
  }
}

.marketing-heading {
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}

@media screen and (min-width: $screen-sm-min) {
  .marketing-heading {
    font-size: 28px;
    text-align: left;
  }
}

.marketing-intro {
  font-weight: 300;
  font-size: 20px;
  margin-top: 40px;
  text-align: justify;
}

@media screen and (min-width: $screen-sm-min) {
  .marketing-intro {
    font-size: 32px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .marketing-intro {
    font-size: 40px;
    text-align: left;
  }
}

.marketing-subheading {
  font-size: 20px;
}

@media screen and (min-width: $screen-sm-min) {
  .marketing-subheading {
    font-size: 32px;
  }
}

.marketing-paragraph {
  font-size: 16px;
  line-height: 1.8em;
  margin: 22px 0;
}

@media screen and (min-width: $screen-md-min) {
  .marketing-paragraph {
    font-size: 22px;
    line-height: 1.6em;
  }
}

.marketing-quote {
  // font-weight: bold;
  font-size: 20px;
  margin: 40px 0;
  text-align: justify;
}

@media screen and (min-width: $screen-sm-min) {
  .marketing-quote {
    font-size: 32px;
    margin: 40px 0 40px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .marketing-quote {
    font-size: 40px;
    text-align: left;
  }
}

.quote-author {
  font-size: 16px;
}
