.main-title {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 1rem;
  text-align: center;
}

@include media-breakpoint-up(sm) {
  .main-title {
    font-size: 1.75rem;
    text-align: left;
  }
}

@include media-breakpoint-up(md) {
  .main-title {
    font-size: 2rem;
  }
}

@include media-breakpoint-up(lg) {
  .main-title {
    font-size: 2.5rem;
  }
}
