.background-fixed-image
  .background-fixed-image-fixed-height.color-overlay.d-flex.align-items-center
    .container
      .row
        .col-sm-10.ml-sm-auto
          %div{ style: "padding: 0 2rem;" }
            %h1.main-title.main-page-font
              Brigham Health
              %br
              Sleep Reading Center
