%nav.navbar.fixed-top.navbar-expand-lg.navbar-light.background-p100-grey
  .container
    = link_to root_path, class: "navbar-brand" do
      Brigham Sleep
    %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: "#navbarNav" }, aria: { controls: "navbarNav", expanded: "false", label: "Toggle navigation" } }
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        = render "menu/item", title: "About", path: about_path
