%nav.navbar.fixed-top.navbar-toggleable-md.navbar-light.bg-faded
  .container.container-xs-fix
    %button.navbar-toggler.navbar-toggler-right{ type: "button", data: { toggle: "collapse", target: "#navbarSupportedContent" }, aria: { controls: "navbarSupportedContent", expanded: "false", label: "Toggle navigation" } }
      %span.navbar-toggler-icon
    = link_to root_path, class: "navbar-brand" do
      Brigham Sleep
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        = render "menu/item", title: "About", path: about_path
