%div{ style: "margin-top: -50px;overflow: hidden;margin-bottom: 40px;" }
  .background-fixed-image-small
    .color-overlay.center-vertically
      .container
        .row.col-buffer
          .offset-sm-2.col-sm-10
            %div{ style: "padding: 2rem;" }
              %h1.main-title Brigham Sleep Reading Center
