.background-fixed-image
  .background-fixed-image-fixed-height-small.color-overlay.d-flex.align-items-center
    .container
      .row
        .col-sm-10.ml-sm-auto
          %div{ style: "padding: 0 2rem;" }
            %h1.main-title
              Brigham Health Sleep Reading Center
