%div{ style: "margin-top: -50px;overflow: hidden;margin-bottom: 40px;" }
  .background-fixed-image-small
    .color-overlay.center-vertically
      .container
        .row.col-buffer
          .col-sm-10.ml-sm-auto
            %div{ style: "padding: 2rem;" }
              %h1.main-title Brigham Health Sleep Reading Center
